* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b2d35;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    display: grid;
    place-items: center;
    background-color: #1f3540;
    height: 100px;
    width: 100px;
    margin: 7px;
    border-radius: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 60px;
    cursor: pointer;
}