* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1b2d35;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    display: grid;
    place-items: center;
    background-color: #1f3540;
    height: 100px;
    width: 100px;
    margin: 7px;
    border-radius: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 60px;
    cursor: pointer;
}

.button-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}

button{
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: #a8bec9; 
    border-radius: 15px;
    cursor: pointer;

}

#quit {
    background-color: #1f3540;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}

#x {
    color: #31c4be;
    font-size: 20px;
}

#o {
    color: #f2b237;
    font-size: 20px;
}
#xando{
    display: flex;
}

#xando h3 {
    padding: 0 5px;
}